

<footer class="footer">

  <center>
      <a href="/about">About</a>
      <a href="https://github.com/arkits">GitHub</a>
      <br><br><br>
  </center>
  

  <div class="footer__inner"> 
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
    {{else}}
      <div class="copyright">
        <span>(C) {{ now.Year }} <a href="https://archit.xyz/">archit.xyz</a> / <a href="http://arkits.github.io/">arkits.github.io</a></span>
      </div>
    {{end}}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
