{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header"></header>
  <div class="homepage-content">
  
    <br />

    <div class="index-content framed">
      <h1>Namaskar Mandali!</h1>
      <p>
        Hello, my name is Archit. Welcome to my corner of the internet. Feel free to click around :)
      </p>
    </div>

    <h1>About</h1>

    I am a Software Engineer with interdisciplinary experience in Computer Engineering, Computer Science, DevOps, Data Analytics and Business Analysis.


    <ul>
      <li>
        <a href="https://www.linkedin.com/in/architkhode/">LinkedIn</a>
      </li>
      <li>
        <a href="https://github.com/arkits/">GitHub</a>
      </li>
    </ul>

  <br />
  <br />
  <br />
  <br />

</main>
{{ end }}
