{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header"></header>
  <div class="homepage-content">
    <h1>Namaskar Mandali!</h1>

    Welcome to my corner of the internet. Thanks for stopping by :)

    <br />
    <br />

    <h1>About</h1>

    Archit is a Software Engineer with interdisciplinary experience in Computer Engineering, Computer Science, DevOps, Data Analytics and Business Analysis.

    <br />
    <br />

  <a href="/about">
    >> Read More >>
  </a>   

  <br />
  <br />
  <br />
  <br />

</main>
{{ end }}
