{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header"></header>
  <div class="homepage-content">

    <br />

    <div class="index-content framed">
      <h1>Namaskar Mandali!</h1>
      <p>
        Hello, my name is Archit. Welcome to my corner of the internet. Feel free to click around :)
      </p>
    </div>

    <br />

    <h1>About</h1>

    <div class="about-container">

      <div class="about-item" style="padding-right: 2rem;">
        I'm a Software Engineer with interdisciplinary experience in Computer Engineering, Electronics, DevOps,
        Data Science and Business Analytics. Currently, I work at <a target=" _blank"
          href="https://www.capitalone.com/">Capital One</a> (San Francisco, CA) on Data Standardization,
        Ontology and Knowledge Graph related problems.

        <br />
        <br />

        I enjoy designing complex systems and using tech to solve my everyday problems. In my free time, I try to
        explore
        new tech and work on <a href="/projects">personal projects</a>.

        <h4>Socials</h4>

        <ul>
          <li>
            <a target=" _blank" href="https://www.linkedin.com/in/architkhode/">LinkedIn</a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/arkits/">GitHub</a>
          </li>
        </ul>

        I can be reached at <a href="mailto:archit.khode@gmail.com">archit.khode@gmail.com</a>.

      </div>

      <div class="about-item" style="width: 100%;">
        <img src="/img/archit-profile.jpeg" alt="archit-profile" id="archit-profile-img" />
        <p class="image-caption">↳ That's me!</p>
      </div>

    </div>

    <br />
    <br />
    <br />

    <img src="/img/header.jpeg" alt="about-banner" />
    <p class="image-caption">↳ Prayer Flags in Ladakh, India</p>

    <br />
    <br />
    <br />

</main>
{{ end }}