body {
  background-color: #202124;
}

.container {
  border-right: none;
  margin: auto;
}

#logo-v {
  padding-top: 50px;
  height: 250px;
}

.center {
  width: 100%;
}

.ak__menu {
  font-size: 1rem !important;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

a:link {
  text-underline-offset: 4px;
}

a:hover {
  text-decoration: none;
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.image-caption {
  font-style: italic;
  font-size: small;
  opacity: 0.5;
  margin-top: 0.2rem;
}
